* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Navigation Bar*/
.nav {
    width: 100%;
    height: 13vh;
    background-color: white;
}

.navrap {
    width: 80%;
    margin: auto;
}

.menu {
    float: right;
}

.menu ul li {
    display: inline;
}

.menu ul {
    margin-top: -90px;
}

.menu ul li a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.menu ul li a:hover {
    color: red;
}

/* Banner */
.ban {
    width: 100%;
    height: 100vh;
    background-image: url(./ban1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.banrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo1 {
    position: absolute;
    padding: 10px;
    margin-left: 550px;
    margin-top: 450px;
}

.logo1 h2 {
    font-size: 100px;
    color: white;
    font-family: 'Ysabeau', sans-serif;
    font-weight: lighter;
}

.logo2 button {
    width: 9%;
    background-color: rgb(240, 27, 27);
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 600px;
    margin-left: 900px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.logo2 button b a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo2 button:hover {
    background-color: black;
}

/* Service */
.service {
    width: 100%;
    height: 75vh;
}

.servicerap {
    width: 75%;
    margin: auto;
}

.servicerap1 h4 {
    font-size: 70px;
    font-family: 'Dancing Script', 'cursive';
    margin-top: 50px;
}

.servicerap1 p {
    padding-top: 50px;
    font-size: 28px;
    text-align: justify;
    font-weight: lighter;
    color: rgb(105, 99, 99);
}

.servicerap2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.image img {
    width: 85%;
    margin-top: 70px;
}

.image img:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* back */
.back {
    width: 100%;
    height: 50vh;
    background-image: url(./ban20.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.backrap {
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.backrap h4 {
    font-size: 60px;
    font-family: 'Dancing Script', 'cursive';
    color: white;
    text-align: center;
    padding-top: 30px;
}

.backrap p {
    width: 80%;
    color: white;
    font-size: 35px;
    margin-left: 180px;
    margin-top: 90px;
    text-decoration: none;
    text-align: justify;
    font-weight: lighter;
}

/*footer*/
.footer {
    width: 100%;
    height: 50vh;
    background-color: rgb(89, 85, 85);
}

.footerrap {
    width: 80%;
    margin: auto;
}

.footerrap1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
    text-align: center;
    /* text-transform: uppercase; */
}

.box3 {
    padding: 10px;
    margin-top: 50px;
}

.box3 h2 {
    color: yellow;
    font-size: 25px;
}

.box3 p {
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.box4 h3 {
    color: yellow;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 55px;
    margin-right: 250px;
}

.menu1 {
    margin-top: 5px;
    text-align: left;
}

.box4 p {
    width: 55%;
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
    color: white;
    margin-left: 100px;
    font-weight: bolder;
}

.menu2 h2 {
    width: 50%;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
    margin-left: 90px;
}

.menu2 h4 {
    width: 40%;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
    margin-left: 82px;
}

.menu2 h1 {
    width: 40%;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
    margin-left: 84px;
}

.box5 {
    margin-top: 50px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 40px;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: red;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    margin-top: 40px;
    cursor: pointer;
}

form.example button:hover {
    background: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.menu1 ul li {
    font-size: 25px;
    padding-top: 30px;
    list-style: none;
}

.menu1 ul li a {
    text-decoration: none;
    color: white
}

.menu1 ul li a:hover {
    color: red;
}

/*last*/
.last {
    width: 100%;
    height: 6vh;
    background-color: black;
}

.lastrap {
    width: 80%;
    margin: auto;
}

.lastrap h2 {
    color: white;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
}